[Unit]
Description=Lora Packet Forwarder
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/dual_chan_pkt_fwd/
ExecStart=/root/dual_chan_pkt_fwd/dual_chan_pkt_fwd 
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
